.container-fluid {
    background: radial-gradient(#fff,#ffd6d6);
    height: 10vh;
}
.col-lg-9 li{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.2rem;
    color: black;
    justify-content: flex-end
}

a{
    text-decoration: none;
}
.col-lg-9 .col-lg-3{
    display: inline-block;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 40px;
}
.col-lg-3{
    object-fit: fill;
}